@using Majorsoft.Blazor.Components.Tabs
@page "/jobcard"

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><span class="oi oi-home" aria-hidden="true"></span></a></li>
    <li class="breadcrumb-item active" aria-current="page">Internal Openings</li>
  </ol>
</nav>

<PageTitle>Smart Track</PageTitle>

<div class="col-lg-12 control-section" id="target">
    <h1>Internal Job Feed</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="job-details">
                <h3 class="job-title">UX Designer</h3>
                <div class="job-description">
                    <div class="team-name">
                        <div class="row">
                            <div class="col-lg-6">
                                Team Request Name :
                            </div>
                            <div class="col-lg-6">
                                <b>11518 - IS 28017 UX Designer</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                Client :
                            </div>
                            <div class="col-lg-6">
                                <b>Walmart</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                Global Grade :
                            </div>
                            <div class="col-lg-6">
                                <b>B-B</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                    Project Duration :
                            </div>
                            <div class="col-lg-6">
                                <span class="oi oi-calendar" aria-hidden="true"></span> March 7 2022 To May 29 2022
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-6">
                                    Project Location :
                            </div>
                            <div class="col-lg-6">
                               <span class="oi oi-map" aria-hidden="true"></span> Mississauga, Canada
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                SBU :
                            </div>
                            <div class="col-lg-6">
                                <b>OTHER DELIVERY UNITS</b>
                            </div>
                        </div>
                        <div>
                            Degree in Computer Science, Digital Media Design, Visual communication required •...
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary" @onclick="JobApply">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="job-details">
                <h3 class="job-title">UI/UX Designer</h3>
                <div class="job-description">
                    <div class="team-name">
                        <div class="row">
                            <div class="col-lg-6">
                                Team Request Name :
                            </div>
                            <div class="col-lg-6">
                                <b>11420 - BS 34561 UI/UX Designer</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                Client :
                            </div>
                            <div class="col-lg-6">
                                <b>Walmart</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                Global Grade :
                            </div>
                            <div class="col-lg-6">
                                <b>B-B</b>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-6">
                                    Project Duration :
                            </div>
                            <div class="col-lg-6">
                                <span class="oi oi-calendar" aria-hidden="true"></span> Feb 14 2022 To May 09 2022
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-6">
                                    Project Location :
                            </div>
                            <div class="col-lg-6">
                               <span class="oi oi-map" aria-hidden="true"></span> Toronto, Canada
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                SBU :
                            </div>
                            <div class="col-lg-6">
                                <b>BACKEND SUPPORT</b>
                            </div>
                        </div>
                        <div>
                            Degree in Human Factors, Digital Media Design, Visual communication required •...
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary" @onclick="JobApply">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<Modal class="hide @(IsOpen ? "open" : "")"/>-->
    @if (showModal)
    {
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close" @onclick="closeModal">&times;</span>
            <div class="form-section">
                <h4 class="text-center">Job Apply Form</h4>
                <EditForm Model="@starship" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="EmployeeName">EmployeeName: </label>
                        </div>
                        <div class="col-lg-6">
                            <InputText id="EmployeeName" @bind-Value="starship.EmployeeName" />
                            <ValidationMessage For="() => starship.EmployeeName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="EmployeeID">EmployeeID: </label>
                        </div>
                        <div class="col-lg-6">
                            <InputText id="EmployeeID" @bind-Value="starship.EmployeeID" />
                            <ValidationMessage For="() => starship.EmployeeID" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="email">Email: </label>
                        </div>
                        <div class="col-lg-6">
                            <InputText id="email" @bind-Value="starship.Email" />
                            <ValidationMessage For="() => starship.Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="phone">Contact Number: </label>
                        </div>
                        <div class="col-lg-6">
                            <InputText id="phone" @bind-Value="starship.PhoneNumber" />
                            <ValidationMessage For="() => starship.PhoneNumber" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="location">Location: </label>
                        </div>
                        <div class="col-lg-6">
                            <InputText id="location" @bind-Value="starship.Location" />
                            <ValidationMessage For="() => starship.Location" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="skillset">Skillset (required): </label>
                        </div>
                        <div class="col-lg-6">
                            <InputTextArea id="skillset" @bind-Value="starship.Skillset" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="yearsofexp">Years of Experience: </label>
                        </div>
                        <div class="col-lg-6">
                            <InputText id="yearsofexp" @bind-Value="starship.YearsofExp" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="teamreqname">Team Request Name: </label>
                        </div>
                        <div class="col-lg-6">
                            <InputText id="teamreqname" @bind-Value="starship.TeamReqName" />
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary text-center">Submit</button>
                    </div>
                </EditForm>
            </div>
          </div>

        </div>
        <Modal></Modal>
    }
    <div class="tab_details">
        <TabsPanel @ref="_tabs"
                ActiveColor="@_activeColor"
                InactiveColor="@_inactiveColor"
                HoverColor="@_hoverColor"
                ActiveTab="@_activeTab"
                TabItemsHeight="@_height"
                TabItemsWidth="@_width"
                Disabled="@_allTabsDisabled"
                TabPositon="@_tabPositon"
                Animate="@_isAnimated"
                OnTabChanged="OnTabChanged">
            <TabItems>
                <TabItem id="tab1" @ref="_tab1">
                    <Header>Applied</Header>
                    <Content>
                        @if (formSubmit){
                            <div class="box_container">
                                <div class="col-lg-12">
                                    <h5>UX Designer</h5>
                                    <div class="box_content">
                                        <p>Employee Name: <b>@starship.EmployeeName</b></p>
                                        <p>EmployeeID : <b>@starship.EmployeeID</b></p>
                                         <p>Employee mail id: <b>@starship.Email</b></p>
                                        <p>Team Request Name : <b>@starship.TeamReqName</b></p>
                                        <p>Client : <b>Walmart</b></p>
                                        <p>SBU : <b>OTHER DELIVERY UNITS</b></p>
                                    </div>
                                </div>
                                <!--<div class="col-lg-12">
                                    <h5>UI Designer</h5>
                                    <div class="box_content">
                                        <p>Employee Name : <b>Pradhiksha</b></p>
                                        <p>EmployeeID : <b>A00245223</b></p>
                                         <p>Employee mail id: <b>pradhiksha@gmail.com</b></p>
                                        <p>Team Request Name : <b>11490 - BS 28529 UI Designer</b></p>
                                        <p>Client : <b>Walmart</b></p>
                                        <p>SBU : <b>BACKEND SUPPORT </b></p>
                                    </div>
                                </div>-->
                            </div>
                        }else{
                            <p>There is no data</p>
                        }
                    </Content>
                </TabItem>
                <TabItem id="tab2" @ref="_tab2">
                    <Header>Saved</Header>
                    <Content>
                        <div class="box_container">
                            <div class="col-lg-12">
                                <h5>UX Designer</h5>
                                <div class="box_content">
                                    <p>Team Request Name : <b>11518 - IS 28017 UX Designer</b></p>
                                    <p>Client : <b>Walmart</b></p>
                                    <p>SBU : <b>OTHER DELIVERY UNITS</b></p>
                                </div>
                            </div>
                        </div>
                    </Content>
                </TabItem>
                <TabItem id="tab3" @ref="_tab3">
                    <Header>Withdrawals</Header>
                    <Content>
                        <div class="box_container">
                            <div class="col-lg-12">
                                <h5>UX Designer</h5>
                                <div class="box_content">
                                    <p>Team Request Name : <b>11518 - IS 28017 UX Designer</b></p>
                                    <p>Client : <b>Walmart</b></p>
                                    <p>SBU : <b>OTHER DELIVERY UNITS</b></p>
                                </div>
                            </div>
                        </div>
                    </Content>
                </TabItem>
            </TabItems>
        </TabsPanel>
    </div>
    <!--<div>
         @foreach (var user in users)
            {
                <div>
                    <div>@user.Name</div>
                    <div>@user.Email</div>
                    <div>@user.TeamRequestName</div>
                </div>
            }
    </div>-->
</div>
@using System.Linq;

@code {
    
  //Starship star=new Starship();

    private Starship starship = new Starship();
    

    bool showModal;
    string status;
    bool formSubmit;
    
    /*private IEnumerable<User> users = new[] {
        new User { EmployeeID = 1, Name = "Frank", Email = "frank.murphy@test.com", TeamRequestName="INV" },
        new User { EmployeeID = 2, Name = "Franks", Email = "frank.murphy@test.com", TeamRequestName="INS"  }
    };*/

    
    private void JobApply()
    {
        status = "Show Login Modal";
        showModal = true;
    }
    
    private void closeModal()
    {
        status = "Show Login Modal";
        showModal = false;
    }
    
    protected override void OnInitialized()
    {
        showModal = false;
        status = "Init";
        // for demo purposes, if you delete user.Email in the login dialog, you'll need to press 'Cancel' 2 times.
        //user.Email = "user@example.com";
        //user.Password = "12345";
        
        starship.EmployeeName = "Pradhiksha";
        starship.EmployeeID = "A00245223";
        starship.Email = "pradhiksha.g@gmail.com";
        starship.TeamReqName ="";

    }
    

    public async Task HandleValidSubmit()
    {
        // Save the data
        this.closeModal();
        //users = new User({ EmployeeID = 1, Name = "Frank", Email = "frank.murphy@test.com", TeamRequestName="INV" });
        ;
        formSubmit = true;
        /*user.Name = starship.EmployeeName;
        Console.WriteLine(User.Name);*/
    }

     protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await _tabs.InnerElementReference.FocusAsync();

			//Group
			_activeTab = _tab1;
			_tabsCount = _tabs.TabCount;
			StateHasChanged();
		}
	}

	private string _activeColor = "DodgerBlue";
	private string _inactiveColor = "White";
	private string _hoverColor = "WhiteSmoke";
	private int _width = 135;
	private int _height = 40;
	private TabPositons _tabPositon = TabPositons.Left;
	private bool _isAnimated = false;
	private bool _allTabsDisabled = false;
	private bool _isTabDisabled = false;
	private bool _isTabHidden = false;

	private int _tabsCount;

	private TabsPanel _tabs;
	private TabItem _activeTab;
	private TabItem _tab1;
	private TabItem _tab2;
	private TabItem _tab3;

	private async Task OnTabChanged(TabItem tab)
	{
		_activeTab = tab;
		var index = _tabs.Tabs.ToList().IndexOf(tab);
	}
}


<style>
    .hide{
        display:none;
    }
    .open.hide{
        display:block;
    }
    .text-right{
        text-align:right;
    }
    .job-details{
        padding:20px;
        border:1px solid #c1c1c1;
    }
    .team-name > div {
        margin-bottom: 10px;
    }
    .job-title{
        border-bottom: 1px solid #D1D1D1;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .control-section {
        padding-left: 10px;
    }
    #target {
        height: 100%;
        min-height: 520px;
    }
    @@media screen and (min-width: 150px) and (max-width: 480px) {
        .control-section {
            margin-bottom: 30px;
        }
        .control-wrapper {
            margin-bottom: 0px;
        }
    }
    #defaultDialog {
        top: 0% !important;
    }
    .e-btn-hide {
        display: none;
    }
    .form-title {
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.70);
    }
    .tailwind-dark .form-title{
        color: rgb(249 249 249);
    }
    .e-error,
    .e-float-text {
        font-weight: 500;
    }
    .e-custom-label {
        font-size: 14px;
        font-weight: 500;
        margin-left: 20px;
    }
    #formId {
        padding-top: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
        border-radius: 5px;
        background: #f9f9f9;
        height: 267px;
        overflow-y: scroll;
    }
    .highcontrast form,
    .highcontrast .header {
        color: #fff;
        background: #000000;
    }
    .header {
        color: rgba(0, 0, 0, 0.7);
    }
    table,
    td,
    th {
        padding: 3px;
    }
    .form-horizontal .form-group {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    .e-dialog .e-dlg-content {
        padding: 14px;
    }
    .form-section .row{
        margin-bottom:15px;
    }
    .form-section h4{
        margin-bottom:20px;
    }
    .form-section input,.form-section textarea{
        width:100%;
    }
    .tab_details{
    margin:20px 0;
}
.box_container{
    border:1px solid #c1c1c1;
}
.box_container h5{
    background:#c1c1c1;
    padding:10px;
}
.box_content{
    padding:10px;
}
.box_content > p{
    margin-bottom:10px;
}
</style>